$primary-Lime: hsl(61, 70%, 52%);
$primary-Red: hsl(4, 69%, 50%);

$neutral-White: hsl(0, 0%, 100%);
$neutral-Slate-100: hsl(202, 86%, 94%);
$neutral-Slate-300: hsl(203, 41%, 72%);
$neutral-Slate-500: hsl(200, 26%, 54%);
$neutral-Slate-700: hsl(200, 24%, 40%);
$neutral-Slate-900: hsl(202, 55%, 16%);

$font-size-paragraph: 1rem;
$font-weight-min: 500;
$font-weight-max: 700;

@mixin input-wrapper-config {
  position: relative;
  display: flex;
  align-items: center;
}

@mixin unit-label-config {
  position: absolute;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: $neutral-Slate-100;
  color: $neutral-Slate-900;
  font-weight: $font-weight-min;
  padding: 9px 10px;
  pointer-events: none;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin paragraph-style {
  margin-top: 15px;
  font-size: 0.8rem;
  font-weight: 200;
  color: $neutral-Slate-300;
}

@mixin result-contents-input-style {
  background-color: darken($color: $neutral-Slate-900, $amount: 5);
  outline: none;
  border: none;
  margin-top: 0.9rem;
  width: 270px;
  pointer-events: none;
}
