$primary-Lime: hsl(61, 70%, 52%);
$primary-Red: hsl(4, 69%, 50%);

$neutral-White: hsl(0, 0%, 100%);
$neutral-Slate-100: hsl(202, 86%, 94%);
$neutral-Slate-300: hsl(203, 41%, 72%);
$neutral-Slate-500: hsl(200, 26%, 54%);
$neutral-Slate-700: hsl(200, 24%, 40%);
$neutral-Slate-900: hsl(202, 55%, 16%);

$font-size-paragraph: 1rem;
$font-weight-min: 500;
$font-weight-max: 700;
